.form {
  :global(.p-field):first-child {
    margin-top: 20px;
  }

  :global(.p-field) + :global(.p-field) {
    margin-top: 40px;
  }
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 40px;
}

.btn {
  text-transform: uppercase;
}
